
@{
    ViewBag.Title = "Index";
}

<h1>410818085</h1>
<h2>Index</h2>
<h3>Test</h3>

<p>
    <b>粗體</b><br />
    <i>斜體</i><br />
    <u>底線</u><br />
</p>

<form>
    帳號：<input type="text" name="account" value="" /><br/>
    密碼：<input type="password" name="password" value="" /><br/>
    年齡：<input type="number" name="age" value="" />
    <br />
    性別：<input type="radio" name="gender" value="A" />男性
    　　　<input type="radio" name="gender" value="B" />女性
    <br />
    興趣：<input type="checkbox" name="basketball" value="A" />籃球
    　　　<input type="checkbox" name="badminton" value="B" />羽毛球
    
    


</form>